
<div class="navbar navbar-default">
  <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse login-menu" id="navbar-main">
        <ul class="nav navbar-nav">
          
          <li>
            <a [routerLink]="['']" class="navbar-brand"> Home </a>
          </li>
          <li routerLinkActive="active">
          	<a [routerLink]="['login']" class="navbar-brand" *ngIf="!isAuth()"> Login </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['users']" class="navbar-brand"> Users </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['doctors']" class="navbar-brand"> Doctors </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['patients']" class="navbar-brand"> Patients </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['appointments']" class="navbar-brand"> Appointments </a>
          </li>
          
          
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="true">
          <li routerLinkActive="active">
            <a [routerLink]="['settings']" class="navbar-brand"> Settings </a>
          </li>
          <li><a (click)="onLogout()" style="cursor: pointer;" class="navbar-brand"> Logout </a></li>
        </ul>
      </div>
  </div>
</div>