<div class="row">
	<div class="col-md-12 col-xs-12">
		<h1>Edit user</h1>
	</div>
</div>

<div class="row">
	<form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
		<div class="col-xs-12">
		</div>
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary" [disabled]="!updateUserForm.valid">Update</button>
			<button class="btn btn-danger" (click)="onCancel()">Cancel</button>
			<button class="btn btn-success" [disabled]="!guestUserRole" (click)="onSetDoctor()">Set Doctor</button>
			<button class="btn btn-success" [disabled]="!guestUserRole" (click)="onSetPatient()">Set Patient</button>
			<button class="btn btn-success" [disabled]="!guestUserRole" (click)="onSetAdmin()">Set Administrator</button>
		</div>
		<div class="col-xs-12">
			<ul class="list-group">
				<li class="list-group-item"><label>ID:</label> 
					<input disabled="disabled" type="text" formControlName="id"></li>
				<li class="list-group-item"><label>Username:</label> 
					<input type="text" formControlName="username"></li>
				<li class="list-group-item"><label>Password:</label> 
					<input type="password" formControlName="password"></li>
				<li class="list-group-item"><label>First name:</label> 
					<input type="text" formControlName="firstName"></li>
				<li class="list-group-item"><label>Last name:</label> 
					<input type="text" formControlName="lastName"></li>
				<li class="list-group-item"><label>e-mail:</label> 
					<input type="text" formControlName="email"></li>
				<li class="list-group-item"><label>Role:</label> 
					<input disabled="disabled" type="text" formControlName="role"></li>
				<li class="list-group-item"><label>Registration date:</label> 
					<input disabled="disabled" type="text" formControlName="regDate"></li>
					
			</ul>
		</div>
	</form>
</div>

