<div class='error-message alert alert-danger' *ngIf='errorMessage'>Error:
	{{errorMessage}}</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<h1>{{pageTitle}}</h1>
	</div>
</div>

<div class="row" *ngIf='allUsers'>
	<div class="row">
		<div class="col-md-2 col-md-offset-1 col-xs-6">
			<button class="btn btn-success" [routerLink]="['new']">New user</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-xs-6">
			<ul class="list-group">
				<app-user-item *ngFor="let user of allUsers; let i = index"
					[user]="user" [userId]="user.id"></app-user-item>
			</ul>
		</div>
	</div>
</div>


