.page-content {
    margin-top: 70px;
}

.header-image-left {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.center-text {
    text-align:center;
}

h1 {
    text-align: center;
    color: #f15a24;
    margin-bottom: 40px;
}