<div class="row">
	<div class="col-md-12 col-xs-12">
		<h1>Create new user</h1>
	</div>
</div>

<div class="row">
	<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
		<div class="col-xs-12">
		</div>
		<div class="col-xs-12">
			<button type="submit" class="btn btn-success" [disabled]="!newUserForm.valid">Create</button>
			<button class="btn btn-danger" (click)="onCancel()">Cancel</button>
		</div>
		<div class="col-xs-12">
			<ul class="list-group">
				<li class="list-group-item"><label>Username:</label> 
					<input type="text" formControlName="username"></li>
				<li class="list-group-item"><label>Password:</label> 
					<input type="password" formControlName="password"></li>
				<li class="list-group-item"><label>First name:</label> 
					<input type="text" formControlName="firstName"></li>
				<li class="list-group-item"><label>Last name:</label> 
					<input type="text" formControlName="lastName"></li>
				<li class="list-group-item"><label>e-mail:</label> 
					<input type="text" formControlName="email"></li>
			</ul>
		</div>
	</form>
</div>
